{%- assign status_types = site.reporting_status.status_types -%}
{%- if include.status_types and site[include.status_types] -%}
    {%- assign status_types = site[include.status_types].status_types -%}
{%- endif -%}

{%- assign total_count = 0 -%}
{%- for ind in site.indicators -%}
    {%- assign id_suffix = ind.indicator_id | slice: -2, 2 -%}
    {%- if id_suffix != "-a" -%}
        {%- assign total_count = total_count | plus: 1 -%}
    {%- endif -%}
{%- endfor -%}

{%- assign indicators_plural = page.t.general.indicators | downcase -%}

<div class="goal goal-overall">
    <div class="details">
        <h2 class="status-goal">
            {{ include.title }}
        </h2>
        <span class="total"><span>{{ total_count }}</span> {{ include.indicator_count_label | t | default: indicators_plural }}</span>

        {% if total_count > 0 %}
        <div class="summary">
            <div class="statuses">
                {%- for status_type in status_types -%}
                    {%- assign current_status_count = 0 -%}
                    {%- for ind in site.indicators -%}
                        {%- assign id_suffix = ind.indicator_id | slice: -2, 2 -%}
                        {%- if id_suffix != "-a" and ind.reporting_status == status_type.value -%}
                        {%- assign current_status_count = current_status_count | plus: 1 -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {% if current_status_count > 0 %}
                    {%- assign percentage = current_status_count | times: 100.0 | divided_by: total_count | round -%}
                    <div>
                        <span class="status {{ status_type.value | slugify }}"><span class="status-inner">{{ current_status_count }}</span></span>
                        <strong>{{ status_type.label | t }}</strong>
                        <span class="value">{{ percentage }}%</span>
                    </div>
                    {% endif %}
                {%- endfor -%}
                <br style="clear:both;">
            </div>
        </div>

        <div class="goal-stats">
            {%- for status_type in status_types -%}
                {%- assign current_status_count = 0 -%}
                {%- for ind in site.indicators -%}
                    {%- assign id_suffix = ind.indicator_id | slice: -2, 2 -%}
                    {%- if id_suffix != "-a" and ind.reporting_status == status_type.value -%}
                        {%- assign current_status_count = current_status_count | plus: 1 -%}
                    {%- endif -%}
                {%- endfor -%}

                {% if current_status_count > 0 %}
                {%- assign percentage_precise = current_status_count | times: 100.0 | divided_by: total_count -%}
                <span class="{{ status_type.value | slugify }}"
                      style="width:{{ percentage_precise }}%"
                      title="{{ status_type.label | t }}: {{ percentage_precise | round }}%">
                        </span>
                {% endif %}
            {%- endfor -%}
        </div>
        {% endif %}
    </div>
    <br style="clear:both;">
</div>
