{%- assign indicators_plural = page.t.general.indicators | downcase -%}
{%- assign status_types = site.reporting_status.status_types -%}
{%- if include.status_types and site[include.status_types] -%}
{%- assign status_types = site[include.status_types].status_types -%}
{%- endif -%}

{%- assign clean_pages = "" | split: "" -%}
{%- for pg in site.pages -%}
    {%- if pg.indicator_number and pg.language == page.language -%}
        {%- unless pg.path contains "-a" -%}
        {%- assign clean_pages = clean_pages | push: pg -%}
        {%- endunless -%}
    {%- endif -%}
{%- endfor -%}

<h2>{{ include.title }}</h2>

{%- for goalreport in include.goals -%}
    {%- assign goal = goalreport.goal | strip | sdg_lookup -%}
    {%- assign target_goal = goal.number | append: "" -%}

    {%- assign g_total = 0 -%}
    {%- assign g_complete = 0 -%}
    {%- assign g_inprogress = 0 -%}
    {%- assign g_notstarted = 0 -%}

    {%- for pg in clean_pages -%}
        {%- assign pg_goal = pg.indicator_number | split: "." | first | append: "" -%}

        {%- if pg_goal == target_goal -%}
            {%- assign g_total = g_total | plus: 1 -%}
            {%- if pg.reporting_status == 'complete' -%}
                {%- assign g_complete = g_complete | plus: 1 -%}
            {%- elsif pg.reporting_status == 'inprogress' -%}
                {%- assign g_inprogress = g_inprogress | plus: 1 -%}
            {%- else -%}
                {%- assign g_notstarted = g_notstarted | plus: 1 -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

<div class="goal reporting-status-item">
    <div class="frame goal-tiles">
        <div>
            <img src="{{ goal.icon }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" width="80" height="80" class="goal-icon-{{ goal.number }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </div>
    </div>
    <div class="details">
        <h3 class="status-goal">
            <a href="{{ goal.url }}">{{ goal.short }}</a>
        </h3>
        <span class="total">{{ g_total }} {{ include.indicator_count_label | t | default: indicators_plural }}</span>

        {% if g_total > 0 %}
        <div class="summary">
            <div class="statuses">
                {%- for status_type in status_types -%}
                {%- assign current_count = 0 -%}
                {%- if status_type.value == 'complete' -%}{%- assign current_count = g_complete -%}
                {%- elsif status_type.value == 'inprogress' -%}{%- assign current_count = g_inprogress -%}
                {%- else -%}{%- assign current_count = g_notstarted -%}{%- endif -%}

                {% if current_count > 0 %}
                {%- assign percentage = current_count | times: 100.0 | divided_by: g_total | round -%}
                <div>
                    <span class="status {{ status_type.value | slugify }}"><span class="status-inner">{{ current_count }}</span></span>
                    <strong>{{ status_type.label | t }}</strong>
                    <span class="value">{{ percentage }}%</span>
                </div>
                {% endif %}
                {%- endfor -%}
                <br style="clear:both;">
            </div>
        </div>
        <div class="goal-stats">
            {%- for status_type in status_types -%}
                {%- assign current_count_bar = 0 -%}
                {%- if status_type.value == 'complete' -%}{%- assign current_count_bar = g_complete -%}
                {%- elsif status_type.value == 'inprogress' -%}{%- assign current_count_bar = g_inprogress -%}
                {%- else -%}{%- assign current_count_bar = g_notstarted -%}{%- endif -%}

                {% if current_count_bar > 0 %}
                {%- assign percentage_precise = current_count_bar | times: 100.0 | divided_by: g_total -%}
                <span class="{{ status_type.value | slugify }}" style="width:{{ percentage_precise }}%" title="{{ status_type.label | t }}: {{ percentage_precise | round }}%"></span>
                {% endif %}
            {%- endfor -%}
        </div>
        {% endif %}
        <div class="divider"></div>
    </div>
    <br style="clear:both;">
</div>
{%- endfor -%}
