{% assign target = include.target_groups[0].target_number | sdg_lookup %}

<div class="row align-items-start goal-target">
    <div class="col-auto goal-page-target-number">
        <h3 class="goal-target"><span class="target-number">{{ target.number }}</span></h3>
    </div>
    <div class="col goal-page-target-name"><span class="target-name">{{ target.name }}</span></div>
</div>

{% for indicator in include.target_groups %}
{% assign is_old = false %}
{% if indicator.name contains "-old" %}{% assign is_old = true %}{% endif %}

{% if is_old == include.is_archive %}
<div class="row align-items-start goal-indicator">
    <div class="col-auto goal-page-indicator-number">
        <h4><span class="indicator-number">{{ indicator.number }}</span></h4>
    </div>
    <div class="col goal-page-indicator-name">
        <span class="indicator-name"><a href="{{ indicator.url }}">{{ indicator.name }}</a></span>
    </div>
    {% if include.show_progress %}
    <div class="col-lg-2 goal-page-indicator-progress">
        {% if indicator.progress_status %}{% include components/progress/progress-status.html indicator=indicator %}{% endif %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
<hr class="goal-page-target-rule" />
