.layout-indicator {
    #page-content {
        border-top: 1px solid $indicatorContent-horizontalRule-color;
        border-bottom: 1px solid $indicatorContent-horizontalRule-color;
        padding-top: 10px;
    }

    &.contrast-high canvas,
    canvas {
        @include noselect;
        &:focus {
            @include focusOutlineOnly;
            background-color: transparent !important;
        }
    }
    .chart-title {
        margin-bottom: 1.5rem;
        margin-left: 20px;
    }
    .map-title {
        margin-bottom: 1.5rem;
    }

    #indicatorData {
        margin-top: 20px;
    }

    .plot-container {
        padding: 10px;
    }
}

@media only screen and (max-width: 500px) {
    body.layout-indicator {
        .container {
            .goal-icon {
                float: none;
            }
            .indicator-details {
                float: none;
                width: 100%;
            }
        }
    }
}

.empty-metadata-placeholder {
    font-style: italic;
    color: $indicator-metadata-empty-color;
}

.indicator.goal-banner {
    .goal-tiles {
        a {
            display: block;
            width: calc(100% - #{$goal-tile-gutter});
            margin-bottom: $goal-tile-gutter;
        }
        a:focus {
            outline: 2px $text-color solid !important;
            .goal-icon-image {
                outline: 8px $focusOutlineColor solid !important;
            }
        }
        img {
            width: 100%;
            border: 0;
            padding: 0;
            margin: 0;
        }
    }
}

body.contrast-high {
    .indicator.goal-banner {
        .goal-tiles {
            img {
                background-color: black !important;
                &:hover {
                    background-color: black !important;
                    box-shadow: 0px 0px 0px 5px $color-highlight-highContrast;
                }
            }
        }
    }
}

#indicator-main {
    #btnSave, .btn-custom-download {
        color: #0B0C0C!important;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        background: #F3F2F1!important;
        box-shadow: 0 -2px 0 0 #929191 inset;
    }

    .nav-tabs .nav-item.active button {
        color: #0B0C0C;
        font-size: 19px;
        font-weight: 400;
        line-height: 19px;
    }
}
.indicators-container {
    .view-indicator-details {
        display: inline-block;
        padding: 8px 12px 7px 12px;
        background: #00703C;
        color: #FFF!important;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        box-shadow: 0 -2px 0 0 #002D18 inset;
    }
    .indicator-item {
        .col-auto h4,
        .col {
            font-size: 19px!important;
            font-weight: 600!important;
            line-height: 27px;
        }
    }
    .goal-target {
        color: #0B0C0C;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        .col-auto h3 {
            margin: 0;
        }
    }
    .goal-page-target-rule {
        margin-left: 0;
    }
}
.goal-details {
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
    }
}
