#indicatorData {
    &.no-units {
        #units {
            display: none;
        }
    }
    &.no-serieses {
        #serieses {
            display: none;
        }
    }
    &.no-fields {
        #series-help,
        #fields,
        #clear {
            display: none;
        }
    }
    &.no-units.no-serieses.no-fields {
        > .col-md-3 {
            display: none;
        }
        > .col-md-9 {
            width: 100%;
        }
    }
}

#toolbar {
    button {
        width: 100%;
        background-color: $backgroundColor;
        position: relative;
        border: 1px solid $horizontalRule-color;
        text-align: left;
        padding: 10px 7px 14px 7px;
        font-size: 0.875em;
        margin-right: 8px;
        &[aria-expanded="true"] {
            margin-bottom: 16px;

            i {
                transform: rotate(180deg);
            }
        }

        i {
            position: absolute;
            top: 11px;
            right: 6px;
            font-size: 1.063em;
        }

        &.disabled {
            color: $indicator-field-color-disabled;
            background: $indicator-field-backgroundColor-disabled;
        }
    }

    .accessBtn {
        padding: 0px !important;
        border: 1px solid transparent;
        &:focus {
            border: 1px solid $indicator-selected-borderColor-hover;
        }
    }

    > p {
        font-size: 96%;
    }
}

#fields {
    @include noselect;

    padding-bottom: 14px;
    font-size: 0.75em;

    label {
        background-color: $backgroundColor;
        padding: 7px;
        display: block;
        font-weight: normal;
        margin-bottom: 1px;
        cursor: pointer;
        position: relative;

        input {
            position: absolute;
            top: 7px;
            right: 6px;
        }
        &:hover {
            border-color: $indicator-field-borderColor-hover;
        }
        &.disabled {
            color: $indicator-field-color-disabled;
            cursor: not-allowed;
            &:hover {
                border-color: $indicator-field-backgroundColor-disabled;
            }
        }
    }

    h5,
    h6 {
        position: relative;
        padding-right: 33px;
        color: #0B0C0C;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        i {
            font-size: 0.675em;
            position: absolute;
            top: 4px;
            right: 6px;
            border-radius: 100px;
            border: 0.5px solid #0B0C0C;
            padding: 4px;
        }
    }

    .variable-selector {
        position: relative;
        cursor: pointer;
        width: 100%;
        border-top: 1px solid $indicator-selector-borderColor;
        display: inline-block;
        padding: 8px 0;

        //&:hover {
        //    border-color: $indicator-selected-borderColor-hover;
        //}

        .no-data-hint,
        .variable-hint {
            display: none;
            padding-left: 7px;
            color: $indicator-hint-color;
        }

        .variable-options {
            background-color: $backgroundColor;
            display: none;
            position: static;
            z-index: 100;
            border-top: 0;
            right: -1px;
            left: -1px;
            overflow: auto;

            .custom-checkbox {
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                user-select: none;
            }

            .custom-checkbox__input {
                position: absolute;
                opacity: 0;
                width: 1px;
                height: 1px;
                overflow: hidden;
            }

            .custom-checkbox__box {
                width: 24px;
                height: 24px;
                border: 2px solid #000;
                border-radius: 2px;
                background: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 24px;
            }

            .custom-checkbox__box::after {
                content: "";
                width: 10px;
                height: 6px;
                border-left: 3px solid #000;
                border-bottom: 3px solid #000;
                transform: rotate(-45deg);
                opacity: 0;
                transition: opacity .15s;
            }

            .custom-checkbox__input:checked + .custom-checkbox__box {
                background: #fff;
                border-color: #000;
            }
            .custom-checkbox__input:checked + .custom-checkbox__box::after {
                opacity: 1;
            }

            .custom-checkbox:hover .custom-checkbox__box {
                border-color: #3b3b3b;
            }

            .custom-checkbox__input:focus-visible + .custom-checkbox__box {
                outline: 3px solid rgba(11, 102, 255, .35);
                outline-offset: 2px;
            }

            &-fieldset {
                max-height: 220px;
                overflow: auto;
                padding-left: 4px;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 999px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                /* Firefox */
                scrollbar-width: thin;
                scrollbar-color: rgba(0,0,0,.3) transparent;
            }

            > div {
                text-align: left;
                padding: 4px;
            }

            button {
                width: auto;
                color:#0B0C0C;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                line-height: 25px;
                text-align: center;
                font-size: 1.2em;
                padding: 8px 12px 7px 12px;
                background: #F3F2F1;
                box-shadow: 0 -2px 0 0 #929191 inset;

                &:hover {
                    background: $indicator-fieldButton-borderColor-hover;
                }
            }

            button[data-type="select"] {
                margin-bottom: 5px;
                margin-left: 5px;
            }
            button[data-type="clear"] {
                margin-bottom: 5px;
            }

            label {
                padding: 7px 25px 7px 0;
                position: relative;
                font-size: 19px;
                font-weight: 400;
                line-height: 25px;
                display: flex;
                align-items: center;

                &:not(:first-child) {
                    border-top: 1px solid $indicator-fieldLabel-borderColor;
                }

                input {
                    position: static;
                    margin-right: 10px;
                    height: 24px;
                    width: 24px;
                }

                &:hover {
                    background: $indicator-fieldOption-backgroundColor-hover;
                }

                &[data-has-data="false"] {
                    display: none;
                    cursor: default;
                    &:hover {
                        background: $backgroundColor;
                    }
                    input {
                        display: none;
                    }
                }
            }

            input[type="checkbox"] {
                margin-top: 4px;
            }
        }

        &.child {
            margin-left: 20px;
            width: calc(100% - 20px);
        }

        &[data-has-data="false"],
        &.disallowed {
            .variable-options {
                > div {
                    display: none;
                }

                input {
                    display: none;
                }

                label {
                    cursor: default;
                    &:hover {
                        background: $backgroundColor;
                    }
                }
            }

            padding-bottom: 5px;
        }

        &[data-has-data="false"]:not(.disallowed) {
            .no-data-hint {
                display: block;
            }
        }
        &.disallowed {
            .variable-hint {
                display: block;
                margin-top: 10px;
            }
        }
    }
}

#units,
#serieses {
    clear: left;
    margin-bottom: 20px;

    label {
        font-weight: normal;
        border: 1px solid $indicator-selector-borderColor;
        padding: 10px;
        margin-right: 8px;
        margin-bottom: 10px;
        cursor: pointer;
        width: 100%;
    }
}

// For shrinking the sidebar.
.indicator-sidebar-hidden {
    display: none;
}

// For expanding the main section.
.indicator-main-full {
    width: 100%;
}

#series-help {
    > h4 {
        margin-bottom: 16px;
        color: #0B0C0C;
        font-size: 27px;
        font-weight: 700;
        line-height: 30px;
    }
    p {
        color: #0B0C0C;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

body.contrast-high {
    #main-content #fields .variable-selector .variable-options label {
        background: $color-dark-highContrast;
        color: $color-light-highContrast;
        &:hover {
            background: $color-highlight-highContrast;
            color: $color-dark-highContrast;
        }
        &:focus {
            background: $color-light-highContrast;
            color: $color-dark-highContrast;
        }
    }

    #main-content #toolbar {
        button {
            background-color: $color-dark-highContrast;
            border-color: $color-light-highContrast;
            color: $color-light-highContrast;
            &:focus {
                span {
                    color: $color-dark-highContrast;
                }
            }
        }
    }

    #main-content #fields .variable-selector .variable-options {
        background: $color-dark-highContrast;
        color: $color-light-highContrast;
        div {
            background: $color-dark-highContrast;
            color: $color-light-highContrast;
        }
        button {
            background: $color-dark-highContrast;
            color: $color-light-highContrast;
            border-color: $color-light-highContrast;
        }
    }

    #main-content #fields .variable-selector .variable-hint {
        color: $color-light-highContrast;
    }

    caption {
        color: $color-light-highContrast;
    }

    div#units,
    div#serieses {
        color: $color-light-highContrast;
    }
}

#indicator-sidebar button#clear {
    display: none;
}
