footer {
    color: $footer-text-color;

    border-top: 1px solid #B1B4B6;

    background: #F3F2F1;
    padding: 24px 80px;

    @media (max-width: 768px) {
      padding: 24px 0;
    }

    #footerLinks > ul {
        padding-left: 0;
        margin-bottom: 0;
        > li {
            display: inline-block;
            margin: 3px 18px 3px 0;
        }
    }

    a {
        color: $footer-link-color;
        line-height: 20px;

        &:hover {
            color: $link-color-hover;
        }
    }
}

body.contrast-high {
    footer {
        color: $footer-text-color-highContrast;
        background-color: $footer-text-backgroundColor-highContrast;
    
        a {
            color: $footer-link-color-highContrast;
            &:hover {
                color: $footer-link-color-highContrast-hover;
            }
            &:visited {
                color: $footer-link-color-highContrast;
            }
        }
    }
}
