.goal-banner {
    .goal-icon-image {
        max-width: 100%;
    }
    h1 {
        margin-top: 12px;
    }
    .indicator-details {
        h1 {
            .lead-copy {
                display: block;
                margin-top: 10px;
            }
        }
    }
    &-title {
        margin-top: 0!important;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
}

body.contrast-high {
    .goal-banner {
        img {
            background-color: black !important;
        }
    }
}
