$goal-tile-gutter: 3px;

@for $i from 1 through length($goal-colors) {
    $c: nth($goal-colors, $i);
    $dark-c: darken($c, 20%);
    .goal-#{$i} {
        padding-top: 30px;
        padding-bottom: 30px;
        &.goal-indicators {
            div {
                span:not(.status-inner):not(.indicator-card-number) {
                    border-color: $dark-c;
                    color: $dark-c;
                }
            }
        }
    }
    .goal-tiles #goal-#{$i},
    .goal-tiles .goal-icon-#{$i} {
        background-color: $c;
    }
}

#main-content {
    .goal-tiles {
        .goal-tile {
            a,span {
                display: block;
                width: calc(100% - #{$goal-tile-gutter});
                margin-bottom: $goal-tile-gutter;
            }
            a:focus {
                outline: 2px $text-color solid !important;
                .goal-icon-image {
                    outline: 8px $focusOutlineColor solid !important;
                }
            }

            div {
              margin-top: 25px;
              @media screen and (min-width: 520px) {
                margin-top: 0;
              }
            }

            img {
                width: 100%;
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
    }
}

body.contrast-high {
    #main-content {
        .goal-tiles {
            .goal-tile {
                img {
                    background-color: black !important;
                    &:hover {
                        background-color: black !important;
                        box-shadow: 0px 0px 0px 5px $color-highlight-highContrast;
                    }
                }
            }
        }
    }
}
