.tags {
    @include tags;
}
.indicator-item .goal-indicator {
    .status {
        padding: 5px 8px 4px 8px;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;

        &.complete {
            color: #005A30;
            background: #CCE2D8;

            .status-inner {
                color: #005A30;
                background: #CCE2D8;
            }
        }
    }
}

.view-indicator-details {
    padding: 8px 12px 7px 12px;
    background: #00703C;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    box-shadow: 0 -2px 0 0 #002D18 inset;
}
