.useful-links {
  h1 {
    margin-bottom: 48px;
  }

  p {
    margin-bottom: 24px;
    padding-left: 32px;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIwN180OTk4KSI+CjxwYXRoIGQ9Ik0xMi42NDggNC45OTIxOUwxMS4xNDAxIDYuNDA2MTlMMTUuNzE4OSAxMC42OTkySDEuODY3MTlWMTIuNjk5MkgxNS42MjI5TDExLjE1ODQgMTYuNjc1OEwxMi42MjcyIDE4LjEyNUwxOS44MjA5IDExLjcxODhMMTIuNjQ4IDQuOTkyMTlaIiBmaWxsPSIjNTA1QTVGIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfMjA3XzQ5OTgiPgo8cmVjdCB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0IDUpIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: $link-color;
      text-decoration: underline;
    }
  }
}

h1, h2 {
  font-weight: 700;
}

h1 {
  line-height: 40px;
}

h2 {
  line-height: 30px;
}

h3 {
  font-weight: 600;
  line-height: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-48 {
  margin-bottom: 48px;

  @media (max-width: 768px) {
    margin-bottom: 25px;
  }
}

.layout-page #main-content h2 {
  margin-bottom: 24px;
  margin-top: 40px !important;
}

ol, ul {
  padding-left: 15px;
}

ol > li > p,
ul > li > p {
  margin-bottom: 6px;
}

#main-content a[href="#top"] {
  margin-top: 40px;
  font-weight: 700;
}

#menu {
  margin-top: 0;
}

.navbar-container {
  margin-top: 31px;
  margin-bottom: 23px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.lead-copy {
  * {
    font-size: 18px;
    line-height: 27px;
  }
}

.frontpage-goals-grid-description {
  margin-top: 16px;
  margin-bottom: 40px;
}

.card-title {
  border-top: none !important;
  margin-bottom: 24px;
}

.btn {
  font-weight: 600;
  line-height: 25px;
  padding: 8px 12px 7px 12px;
}

#zip-download-info {
  font-size: 14px;
  line-height: 21px;
}

.zip-download-container a.btn,
.zip-download-container #zip-download-info {
  margin-left: 0;
}

#main-content p {
  font-size: 16px;
  line-height: 24px;
}
.contact-us {
  h1 {
    margin-bottom: 48px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
}

.reportingstatus {
  h1, h2 {
    margin-bottom: 16px;
  }
}
