{% include head.html %}
{% include header.html %}
<script type="text/template" class="results-template">
    <% if(resultsCount > 0) { %>
    <p>{{ page.t.search.results_found }}: <%= resultsCount %></p>

    <% _.each(searchResults, function(result){ %>
    <div class="row search-result">
        <div class="col col-md-8">
            <div class="item">
                <a href="<%= result.url %>">
                    <h2 class="title"><%= result.title %></h2>
                </a>
                <% if(result.content) { %><p><%= result.content %></p><% } %>
            </div>
        </div>
    </div>
    <% }); %>

    <% if(totalPages > 1) { %>
    <nav aria-label="Page navigation" class="pagination-container">
        <ul class="pagination">
            <% for(var i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                <a class="page-link pagination-link" href="#" data-page="<%= i %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
    </nav>
    <% } %>

    <% } else { %>
    <p class="no-results-text">{{ page.t.search.no_results }}</p>
    <% } %>
</script>
<script>
opensdg.searchItems = {{ site.data.search_items[page.language] | jsonify }};
{% if site.search_index_boost %}
opensdg.searchIndexBoost = {{ site.search_index_boost | jsonify }};
{% else %}
opensdg.searchIndexBoost = [{
  field: 'title',
  boost: 10,
}];
{% endif %}
{% if site.search_index_extra_fields %}
opensdg.searchIndexExtraFields = {{ site.search_index_extra_fields | jsonify }};
{% else %}
opensdg.searchIndexExtraFields = [];
{% endif %}
</script>

<div class="container">
  {% include components/page/breadcrumbs.html %}
</div>
<div id="main-content" class="container" role="main">
  <h1 class="mb-32">{{ page.t.search.search_results_for }} «<span id="search-term"></span>»</h1>
  {% include search.html id="search-bar-on-page" not_in_menu=true %}
  {% include components/loading.html %}
  <div id="search-results" class="results"></div>
</div>

<script src="https://unpkg.com/lunr/lunr.min.js"></script>
{% if page.language != 'en' %}
  <script src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/lunr.stemmer.support.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/lunr.{{ page.language }}.js"></script>
{% endif %}
{% include footer.html %}
