button:focus {
    @include focus;
}
.btn {
    color: $button-foregroundColor;
    &:visited {
        color: $button-foregroundColor-visited;
    }
    &:focus {
        color: $button-foregroundColor-focus;
    }
}
.btn-download {
    border: none !important;
    background: $button-color !important;
    color: $button-foregroundColor !important;
    box-shadow: 0 2px 0 $button-color-dropShadow;
    border-radius: 0;
    position: relative;

    &:active {
        background: $button-color-pressed !important;
    }
    &:hover {
        background: $button-color-hover !important;
    }
    &:visited {
        color: $button-foregroundColor-visited !important;
    }
    &:focus {
        background: $button-color-focus !important;
        color: $button-foregroundColor-focus !important;
    }
}
body.contrast-high {
    button:focus {
        @include focusHighContrast;
    }
    .btn {
        color: $button-foregroundColor-highContrast !important;
        &:visited {
            color: $color-dark-highContrast !important;
        }
        &:focus {
            color: $color-dark-highContrast !important;
        }
    }
    .btn-primary,
    .btn-download {
        background: $button-color-highContrast !important;

        &:active {
            background: $color-highlight-highContrast !important;
        }
        &:hover {
            background: $button-color-hover-highContrast !important;
        }
        &:focus {
            background: $color-highlight-highContrast !important;
        }
    }
}

.btn-toggle-collapse {
    color: #1D70B8;
    font-size: 19px;
    font-weight: 400!important;
    line-height: 19px!important;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    display: flex;
    align-items: center;

    &:before {
        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMC4yNSIgeT0iMC4yNSIgd2lkdGg9IjE5LjUiIGhlaWdodD0iMTkuNSIgcng9IjkuNzUiIHN0cm9rZT0iIzFENzBCOCIgc3Ryb2tlLXdpZHRoPSIwLjUiLz4KPHBhdGggZD0iTTEzLjUzNTUgMTEuNDY0NUwxMCA3LjkyODkyTDYuNDY0NDcgMTEuNDY0NSIgc3Ryb2tlPSIjMUQ3MEI4IiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K");
        margin-right: 5px;
        height: 20px;
    }

    &.collapsed:before {
        transform: rotate(180deg);
    }
}
